<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Commu_back.mapper.FileMapper">

	<insert id="insertImage"
		parameterType="com.Commu_back.vo.FileVO">
		INSERT INTO file_tb (board_no, file_src, file_desc)
		<foreach collection="imagelist" item="item"
			separator="UNION ALL">
			SELECT #{boardNo}, #{fileSrc}, #{fileDesc},
			FROM DUAL
		</foreach>
	</insert>

	<select id="selectImageList"
		resultType="com.Commu_back.vo.FileVO">
		SELECT file_src as fileSrc, file_desc as fileDesc 
		FROM file_tb
		WHERE board_no = #{boardNo}
	</select>

</mapper>