<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Commu_back.mapper.ReplyMapper">

	<!-- 댓글 총 개수 조회 -->
	<select id="selectReplyCount">
		<![CDATA[
			select count(*) 
			from reply_tb 
			where board_no = #{board_no} 
		]]>
	</select>
	
	<!-- 댓글 리스트 조회 -->
	<select id="selectReplyList" resultType="hashmap">
		<![CDATA[
			-- 3차검색, 페이징 처리 
			select reply_no, user_chr, reply_group, reply_dept, 
			        reply_writer, reply_content, reply_regdate, reply_good
			from(
			
				-- 2차검색, 정렬된 값에 순번을 재부여 
			    select rownum rnum, reply_no, user_chr, reply_group, reply_dept, 
			            reply_writer, reply_content, reply_regdate, reply_good
			    from(
			    
			    	-- 1차검색, 검색 후 순차 혹은 역순으로 정렬 
			        select reply_no, user_chr, reply_group, reply_dept, 
			        		reply_writer, reply_content, reply_regdate, reply_good
			        from reply_tb 
					inner join user_tb  
					on reply_tb.user_no = user_tb.user_no 
					where board_no = #{board_no} 
			        ]]>
		<choose>
	        <when test="reply_order == 'asc' ">
	       		 	order by reply_group asc, reply_no asc
				) 
	        </when>
	        <when test="reply_order == 'desc' ">
	        		order by reply_group desc, reply_no desc
				) 
				order by rownum desc 
	        </when>
	        <otherwise>
					order by reply_group asc, reply_no asc
				)
	        </otherwise>
        </choose>
	    <![CDATA[
			)
			where rnum between #{startRow} and #{endRow} 
		]]> 
	</select>
	
	<!-- 댓글 추가 -->
	<insert id="insertReply">
		<![CDATA[
			merge into reply_tb 
			using dual 
			on (#{reply_no} > 0)
			 
			-- 기존 댓글이 있을 때 댓글 갱신
			update set reply_content = #{reply_content}, 
						reply_updatedate = sysdate 
			where reply_no = #{reply_no} 
			
			-- 기존 댓글 없을 때 댓글 추가 
			insert into reply_tb( 
				board_no, reply_group, reply_dept, reply_content, user_no 
			) 
			values ( 
				#{board_no}, #{reply_group}, #{reply_dept}, #{reply_content}, 
				(
					select user_no 
					from user_tb 
					where user_id = #{user_id} 
				) 
	        )
		]]>
	</insert>
	
	<!-- 댓글 삭제 -->
	<delete id="deleteReply">
		<![CDATA[	
			delete from reply_tb 
			where reply_no = #{reply_no} 
			and user_no = 
				(
					select user_no 
					from user_tb 
					where user_id = #{user_id} 
				) 
		]]>
	</delete>
</mapper>