<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.Commu_back.mapper.UserMapper">

	<!-- 특정 사용자 조회 -->
	<select id="selectUserInfo" resultType="com.Commu_back.vo.UserVO">
		SELECT
			user_no AS userNo,
			user_id AS userId,
			user_pw AS userPw,
			user_chr AS userChr,
			user_email AS userEmail,
			DATE_FORMAT(user_regdate, "%Y-%m-%d") AS userRegdate,
			file_name AS fileName
		FROM 
			user_tb
		WHERE 
			user_id = #{userId}
	</select>
	
	<!-- 사용자 권환 조회 -->
	<select id="selectUserAuth" resultType="com.Commu_back.vo.UserVO">
		SELECT
			r.role_no AS roleNo,
			r.role_name AS roleName,
			r.role_desc AS roleDesc
		FROM 
			user_tb u INNER JOIN user_role_tb ur
			ON 
			u.user_no = ur.user_no
			INNER JOIN role_tb r
			ON 
			r.role_No = ur.role_No
		WHERE 
			user_id = #{userId}
	</select>
	
	<!-- 전체 사용자 조회 -->
	<select id="selectUsersAll" resultType="com.Commu_back.vo.UserVO">
		SELECT
			u.user_no AS userNo,
			u.user_id AS userId,
			u.user_pw AS userPw,
			u.user_chr AS userChr,
			u.user_email AS userEmail,
			DATE_FORMAT(u.user_regdate, "%Y-%m-%d") AS userRegdate,
			u.file_name AS fileName,
			r.role_desc AS roleDesc
		FROM 
			user_tb u INNER JOIN user_role_tb ur
			ON
			u.user_no = ur.user_no
			INNER JOIN role_tb r
			ON
			ur.role_No =r.role_No
	</select>
		
	<!-- 사용자 추가 -->
	<insert id="insertUser">
		INSERT INTO user_tb
		(
		user_id,
		user_password,
		user_chr,
		user_email,
		file_name
		)
	VALUES
		(
		#{userId},
		#{userPw},
		#{userChr},
		#{userEmail},
		#{fileName}
		)
	</insert>
	
	<!-- 사용자 권환 추가 -->
	<insert id="insertAuth">
		INSERT INTO user_role_tb
		(
			user_no,
			role_no
		)
		VALUES
		(
			#{userNo},
			#{roleNo}
		)
	</insert>
	
	<!-- 사용자 수정 -->
	<update id="updateUser">
		UPDATE
			user_tb
		SET
			user_id = #{userId}
			<if test="userId != null">
				,user_id = #{userId}
			</if>
			<if test="userPw != null">
				,user_pw = #{userPw}
			</if>
			<if test="userChr != null">
				,user_chr = #{userChr}
			</if>
			<if test="userEmail != null">
				,user_email = #{userEmail}
			</if>
			file_name = #{fileName}
		WHERE
			user_no = #{userNo}
	</update>
	
	<!-- 특정 사용자 삭제 -->
	<delete id="deleteUser">
		DELETE
		FROM 
			user_tb
		WHERE
			user_no = #{userNo}
	</delete>
	
	<!-- 특정사용자 조회 -->
	<select id="selectUserNo" resultType="com.Commu_back.vo.UserVO">
		SELECT
			user_no AS userNo,
			user_id AS userId,
			user_pw AS userPw,
			user_chr AS userChr,
			user_email AS userEmail,
			DATE_FORMAT(user_regdate, "%Y-%m-%d") AS userRegdate,
			file_name AS fileName
		FROM
			user_tb
		WHERE
			user_no = #{userNo}
	</select>
	
	<!-- 유저검색 -->
	<select id="selectSearchUser" resultType="com.Commu_back.vo.UserVO">
		SELECT
			u.user_no AS userNo,
			u.user_id AS userId,
			u.user_pw AS userPw,
			u.user_chr AS userChr,
			u.user_email AS userEmail,
			DATE_FORMAT(u.user_regdate, "%Y-%m-%d") AS userRegdate,
			u.file_name AS fileName,
			r.role_desc AS roleDesc
		FROM 
			user_tb u INNER JOIN user_role_tb ur
			ON
			u.user_no = ur.user_no
			INNER JOIN role_tb r
			ON
			ur.role_No =r.role_No
		WHERE 
			u.user_id LIKE '%'||#{search}||'%' or u.user_chr LIKE '%'||#{search}||'%'
	</select>
	
</mapper>